:root {
    --lexicon-closed-top: -380px;
    --lexicon-opened-top: -16px;
    --lexicon-width: 400px;
    --lexicon-height: 400px;
    --lexicon-display-height: calc(var(--lexicon-height) * 0.77);

    --radar-diameter: 400px;
    --radar-radius: calc(var(--radar-diameter) / 2);
    --range-ring-r1: calc(var(--radar-radius) * 3/4);
    --range-ring-r2: calc(var(--radar-radius) * 2/4);
    --range-ring-r3: calc(var(--radar-radius) * 1/4);
    --range-ring-d1: calc(var(--range-ring-r1) * 2);
    --range-ring-d2: calc(var(--range-ring-r2) * 2);
    --range-ring-d3: calc(var(--range-ring-r3) * 2);

    --range-ring-d_c: 10px;

    --dashboard-width: 500px;
    --dashboard-height: calc(var(--radar-diameter) + 80px);
}

* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0
}

body {
    background-color: #041421;

}
#main {
    max-width: 800px;
    margin: auto;
}

#dashboard {
    margin: auto;
    margin-top: 40px;
    padding: 8px 2px;
    border: 8px outset black;
    width: var(--dashboard-width);
    height: var(--dashboard-height);
    display: flex;
    background-color: #5d5e63;
}
#stats-display {
    overflow-y: visible;
    width: 0;
}
#radar, .range-ring {
    position: relative;
    margin: auto;
    margin-top: 45px;
    border: 1px solid #58c9d1;
}
#radar {
    width: var(--radar-diameter);
    height: var(--radar-diameter);
    border-radius: var(--radar-radius);
    border: 1px solid black;
    background-color: #0a2136;
    
    #range-ring-1 {
        width: var(--range-ring-d1);
        height: var(--range-ring-d1);
        border-radius: var(--range-ring-r1);
    }
    #range-ring-2 {
        width: var(--range-ring-d2);
        height: var(--range-ring-d2);
        border-radius: var(--range-ring-r2);
    }
    #range-ring-3 {
        width: var(--range-ring-d3);
        height: var(--range-ring-d3);
        border-radius: var(--range-ring-r3);
    }
    #range-ring-center {
        width: var(--range-ring-d_c);
        height: var(--range-ring-d_c);
        border-radius: var(--range-ring-d_c);
    }
}

#lexicon {
    position: fixed;
    width: var(--lexicon-width);
    height: var(--lexicon-height);
    border: 5px solid rgb(42, 42, 42);
    box-shadow: 0 6px 2px 4px;
    margin: auto;
    left: 0;
    right: 0;
    border-radius: 16px;
    background-color: #393a3c;
    transition-property: top;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;

    h2 {
        margin-top: 18px;
        margin-left: 2px;
        margin-bottom: 8px;
    }
}
.lexicon-tutorial {
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    animation-delay: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: pulse;
}
@keyframes pulse {
    from {box-shadow: 0 0}
    to {box-shadow: 0 0 10px yellow}
}
#lexicon-display {
    border: 5px inset black;
    margin: 12px;
    margin-top: 0;
    padding: 0 4px;
    background-color: aquamarine;
}
#lexicon-display-body {
    height: var(--lexicon-display-height);
}
#lexicon-display-footer {
    height: calc(1em + 2px);
    text-align: right;
}